body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.header, .footer{
    background-color: #1F2937;
    color: #E5E7EB;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.title-container{
    display: flex;
    margin: 50px 100px;
}
.title{
    display:flex;
    flex-direction: column;
    flex: 1 1 0px;
}
.title-img{
    width: 0px;
    flex: 1 1 0px;
 }

.quote-container{
    background-color: #E5E7EB;
}
.sign-up{
    background-color: #3882F6;
}